* {  /* Applies everywhere */
    font-size: 25px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 960px;
    /* Image from wallpapercave.com, uploaded by sauware */
    background-image: url('images/orange arithmetic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 2400px 1500px; */
    background-size: 1800px 1125px;
    /* background-size: 1920px 1080px; */
    background-color:chocolate;
}

.calculator {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-style: double;
    border-width: 10px;
    border-radius: 25px;
    border-color:firebrick;
    background-color:darkorange ;
    padding: 15px;
    box-shadow: -4px -2px 5px 3px rgba(0,0,0,0.71);
}

p {
    text-align: center;
    text-transform:uppercase;
    font-family:'Courier New', Courier, monospace;
    color: seashell;
    font-size: 27px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 12px;
}

.display {
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-radius: 8px;
    width: 210px;
    background-color: antiquewhite;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: inset -3px 0px 10px 3px rgba(0,0,0,0.71);
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.display-equation {
    display: flex;
    height: 65px;
    align-items: flex-start;
}

.display-result {
    display: flex;
    height: 50px;
    align-items: flex-end;
    justify-content: flex-end;
}

#keypad {
    display: grid;
    width: 240px;
    height: 300px;
    background-color: darkorange;
}

.key {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: groove seashell;
    border-width: 4px;
    background-color:seashell;
    margin: 5px;
    border-radius: 12px;
    box-shadow: -8px -3px 5px 3px rgba(0,0,0,0.71);
}

.key:hover { /* Thanks to my brother, Jeremiah */
    box-shadow: -5px -2px 4px 2px rgba(0,0,0,0.71);
}

.key:active { 
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.71);
}

.operator {
    background-color:yellow ;
    border: groove yellow;
    border-width: 4px;
}

.modifier {
    background-color:chartreuse;
    border: groove chartreuse;
    border-width: 4px;
}

.editor {
    background-color:cornflowerblue;
    border: groove cornflowerblue;
    border-width: 4px;
}